<?xml version="1.0" encoding="utf-8"?>
<jnlp spec="$jnlpspec" codebase="$$codebase" context="$$context" name="$$name" href="$$name">
  <information>
    <title>$project.name</title>
    <vendor>$project.Organization.Name</vendor>
    <homepage href="$project.Organization.Url"/>
    <description>$project.description</description>
    <offline-allowed/>
    <update check="timeout" policy="prompt-update"/>
  	<icon href="images/icon.png"/>
  	<icon href="images/splash.png" kind="splash"/>
  	<shortcut online="false">
  		<desktop/>
  	</shortcut>
  </information>
  <security>
     <all-permissions/>
  </security>
  <offline-allowed/>
  <resources>
    <j2se version="1.6+" initial-heap-size="64m" max-heap-size="256m"/>
     $dependencies
  </resources>
  <application-desc main-class="$mainClass"/>
</jnlp>

