<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>OpenCMIS Browser</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>browse</servlet-name>
		<servlet-class>org.apache.opencmis.browser.BrowseServlet</servlet-class>
		<init-param>
			<param-name>auxroot</param-name>
			<param-value>{ctx}/browser/</param-value>
		</init-param>
		<init-param>
			<param-name>allow</param-name>
			<param-value>http.*</param-value>
		</init-param>
		<init-param>
			<param-name>stylesheet:application/atomsvc+xml</param-name>
			<param-value>/WEB-INF/stylesheets/service.xsl</param-value>
		</init-param>
		<init-param>
			<param-name>stylesheet:application/atom+xml;type=feed</param-name>
			<param-value>/WEB-INF/stylesheets/feed.xsl</param-value>
		</init-param>
		<init-param>
			<param-name>stylesheet:application/cmistree+xml</param-name>
			<param-value>/WEB-INF/stylesheets/feed.xsl</param-value>
		</init-param>
		<init-param>
			<param-name>stylesheet:application/atom+xml;type=entry</param-name>
			<param-value>/WEB-INF/stylesheets/entry.xsl</param-value>
		</init-param>
		<init-param>
			<param-name>stylesheet:application/cmisallowableactions+xml</param-name>
			<param-value>/WEB-INF/stylesheets/actions.xsl</param-value>
		</init-param>
		<init-param>
			<param-name>stylesheet:application/cmisacl+xml</param-name>
			<param-value>/WEB-INF/stylesheets/acl.xsl</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>browse</servlet-name>
		<url-pattern>/browse</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
</web-app>
